.navbar {
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: center;
    color: white;
    background-color: #FFE9C9;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar button {

    font-weight: bold;
    font-size: 20px;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: #FFE9C9;
    border: 0;
    padding: 10px 10px 11px 10px;
}

.navbar button:hover {
    background-color: #FFAC4A;
}
