.user-form-input-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.user-form-input {
    display: flex;
    height: auto;
    flex-flow: column;
    flex: 1 0 30%;
    margin: 10px;

}

.user-form-input label {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.user-form-input input[type=text] {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, .5);;
    box-shadow: rgba(50, 50, 105, 0.15) 0 2px 5px 0, rgba(0, 0, 0, 0.05) 0 1px 1px 0;
}

.user-form-button {
    display: flex;
    width: 100%;
    justify-content: center;

}
.user-form-button button {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, .5);;
    box-shadow: rgba(50, 50, 105, 0.15) 0 2px 5px 0, rgba(0, 0, 0, 0.05) 0 1px 1px 0;
    background-color: white;
    width: 150px;
}

.user-form-button button:hover {
    align-self: center;
    border: 2px solid black;
    color: black;
}